h1 {
  font-family: "Satisfy", cursive;
}

h2 {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: 600;
}

header h1,
header div {
  line-height: 80px;
}

header img {
  width: 100%;
}

#car {
  margin-top: 2%;
}

nav {
  margin-top: 2%;
}

#items {
  text-align: left;
}

.card {
  width: 18rem;
}

header button,
nav button,
.btn-car {
  border: none;
  color: rgb(255, 255, 255);
  font: inherit;
  background-color: inherit;
  outline: inherit;
}

.btn-car {
  padding: 20px;
  width: 100px;
  height: 40px;
}

header button:hover,
nav button:hover,
.btn-car:hover {
  color: rgb(255, 255, 255, 0.5);
}

.bg-dark {
  padding: 1.5% 1%;
}

.sign {
  border-radius: 5px;
  box-shadow: none;
  color: white;
  background-color: #636d73;
  margin-right: 2%;
  font-weight: bold;
}

.price,
.card-title,
#total {
  font-weight: 600;
}

#cont {
  display: none;
}

footer {
  font-weight: 700;
}
